In [65]:
# Pandas is a powerful library to read and process data tables
import numpy as np
# it means that we can use abbreviation "np" from now on to refer to numpy functions 
import pandas as pd

In [66]:
# The following line will import LogisticRegression and DecisionTreeClassifier Classes
# "LogisticRegression" and "DecisionTreeClassifier" are the names of a "sklearn classes" to perform Logistic Regression and Decision Tree based Classification 
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LinearRegression

In [67]:
# loading a CSV file from local device and store it in a pandas DataFrame:
# "read_csv" is a pandas function to read csv files from web or local device:
df= pd.DataFrame()
fdf = pd.DataFrame()
df = pd.read_csv('https://raw.githubusercontent.com/PrasanthReddyYerradoddi/Machine-Learning/master/train.csv')

In [68]:
df.head()

   S1  C1  S2  C2  S3  C3  S4  C4  S5  C5  hand
0   4   9   2   1   2   2   4   7   2   8     0
1   1   4   3   6   1  12   3  11   2   7     0
2   1  11   4   1   3   7   4  11   2   1     2
3   2   9   2   4   3   6   1   9   4   9     3
4   1   8   2   4   2  11   2   2   2   1     0

In [69]:
cardsCols = ['C1','C2','C3','C4','C5']
suiteCols = ['S1','S2','S3','S4','S5']
X = df[cardsCols]
X.head()

   C1  C2  C3  C4  C5
0   9   1   2   7   8
1   4   6  12  11   7
2  11   1   7  11   1
3   9   4   6   9   9
4   8   4  11   2   1

In [70]:
y = df['hand']
y.head()

0    0
1    0
2    2
3    3
4    0
Name: hand, dtype: int64

In [71]:
for index,rows in df.iterrows():
    Cardscol = []
    #card = rows['C1'],rows['C2'],rows['C3'],rows['C4'],rows['C5']
    suit = rows['S1'],rows['S2'],rows['S3'],rows['S4'],rows['S5']
    #a = (sorted(card))
    b = (sorted(suit))
     
    if len(set(b)) == 1:
        fdf.set_value(index,'Number of same color cards',5)
    elif len(set(b)) == 2:
        fdf.set_value(index,'Number of same color cards',4)
    elif len(set(b)) == 3:
        fdf.set_value(index,'Number of same color cards',3)
    elif len(set(b)) == 4:
        fdf.set_value(index,'Number of same color cards',2)
    else:
        fdf.set_value(index,'Number of same color cards',0)

In [72]:
for index,rows in df.iterrows():
    Cardscol = []
    card = rows['C1'],rows['C2'],rows['C3'],rows['C4'],rows['C5']
    #suit = rows['S1'],rows['S2'],rows['S3'],rows['S4'],rows['S5']
    a = (sorted(card))
    #b = (sorted(suit))
    
    fdf.set_value(index,"Highest Card",max(a))

In [73]:
for index,rows in df.iterrows():
    Cardscol = []
    card = rows['C1'],rows['C2'],rows['C3'],rows['C4'],rows['C5']
    #suit = rows['S1'],rows['S2'],rows['S3'],rows['S4'],rows['S5']
    a = (sorted(card))
    #b = (sorted(suit))
     
    if len(set(a)) == 2:
        fdf.set_value(index,'Number of same cards',4)
    elif len(set(a)) == 3:
        fdf.set_value(index,'Number of same cards',3)
    elif len(set(a)) == 4:
        fdf.set_value(index,'Number of same cards',1)
    else:
        fdf.set_value(index,'Number of same cards',0)

In [83]:
for index,rows in df.iterrows():
    Cardscol = []
    card = rows['C1'],rows['C2'],rows['C3'],rows['C4'],rows['C5']
    #suit = rows['S1'],rows['S2'],rows['S3'],rows['S4'],rows['S5']
    a = (sorted(card))
    #b = (sorted(suit))
    
    counter=0
    if(a[1] == a[0]+1):
        counter = counter+1
    else:
        counter = 0
    if(a[2] == a[1]+1):
        counter = counter +1
    else:
        counter = 0    
    if(a[3] == a[2]+1):
        counter = counter+1
    else:
        counter = 0    
    if(a[4] == a[3]+1):
        counter = counter+1
    else:
        counter = 0
    
    fdf.set_value(index,"Number of cards in sequence",int(counter))

In [87]:
fdf['hand'] = df['hand']

In [88]:
fdf.head()

,Number of same color cards,Highest Card,Number of same cards,Number of cards in sequence,hand
0,4.0,9.0,0.0,2.0,0
1,3.0,12.0,0.0,1.0,0
2,2.0,11.0,3.0,0.0,2
3,2.0,9.0,3.0,0.0,3
4,4.0,11.0,0.0,0.0,0

In [89]:
fdf

,Number of same color cards,Highest Card,Number of same cards,Number of cards in sequence,hand
0,4.0,9.0,0.0,2.0,0
1,3.0,12.0,0.0,1.0,0
2,2.0,11.0,3.0,0.0,2
3,2.0,9.0,3.0,0.0,3
4,4.0,11.0,0.0,0.0,0
5,3.0,13.0,3.0,0.0,2
6,2.0,13.0,0.0,0.0,0
7,3.0,13.0,0.0,0.0,0
8,3.0,10.0,0.0,1.0,0
9,3.0,13.0,1.0,1.0,1
10,3.0,10.0,0.0,0.0,0
11,3.0,12.0,0.0,0.0,0
12,2.0,12.0,0.0,1.0,0
13,2.0,6.0,1.0,1.0,1
14,2.0,13.0,1.0,2.0,1
15,3.0,9.0,0.0,0.0,0
16,4.0,11.0,1.0,0.0,1
17,3.0,13.0,1.0,0.0,1
18,3.0,13.0,0.0,0.0,0
19,2.0,12.0,1.0,0.0,1
20,3.0,13.0,1.0,0.0,1
21,3.0,13.0,0.0,0.0,0
22,2.0,9.0,0.0,0.0,0
23,3.0,13.0,0.0,0.0,0
24,3.0,10.0,0.0,1.0,0
25,2.0,11.0,1.0,0.0,1
26,3.0,11.0,1.0,0.0,1
27,3.0,12.0,0.0,0.0,0
28,4.0,12.0,0.0,0.0,0
29,4.0,11.0,1.0,0.0,1
...,...,...,...,...,...
24980,2.0,13.0,0.0,0.0,0
24981,3.0,13.0,0.0,0.0,0
24982,2.0,11.0,0.0,1.0,0
24983,2.0,10.0,1.0,0.0,1
24984,3.0,12.0,1.0,0.0,1
24985,3.0,9.0,1.0,0.0,1
24986,4.0,11.0,1.0,0.0,1
24987,3.0,11.0,0.0,1.0,0
24988,2.0,8.0,3.0,0.0,3
24989,3.0,9.0,1.0,0.0,1
24990,2.0,13.0,0.0,1.0,0
24991,3.0,13.0,3.0,0.0,2
24992,2.0,10.0,1.0,0.0,1
24993,3.0,10.0,0.0,0.0,0
24994,3.0,11.0,0.0,0.0,0
24995,3.0,5.0,3.0,1.0,2
24996,3.0,13.0,0.0,0.0,0
24997,2.0,13.0,1.0,0.0,1
24998,2.0,12.0,1.0,0.0,1
24999,3.0,10.0,0.0,0.0,0
25000,2.0,11.0,0.0,1.0,0
25001,3.0,13.0,1.0,1.0,1
25002,3.0,13.0,0.0,1.0,0
25003,3.0,9.0,0.0,2.0,0
25004,2.0,11.0,1.0,0.0,1
25005,4.0,12.0,1.0,0.0,1
25006,2.0,13.0,0.0,0.0,0
25007,2.0,13.0,0.0,0.0,0
25008,3.0,12.0,0.0,0.0,0
25009,4.0,7.0,1.0,0.0,1