In [2]:
# Pandas is a powerful library to read and process data tables
import numpy as np
# it means that we can use abbreviation "np" from now on to refer to numpy functions 
import pandas as pd

In [3]:
# The following line will import DecisionTreeClassifier Classes 
# "DecisionTreeClassifier" are the names of a "sklearn classes" to perform Logistic Regression and Decision Tree based Classification 

from sklearn.tree import DecisionTreeClassifier

# The following line will import KNeighborsClassifier "Class"
# KNeighborsClassifier is name of a "sklearn class" to perform "KNN Classification" 

from sklearn.neighbors import KNeighborsClassifier

In [4]:
# loading a CSV file from local device and store it in a pandas DataFrame:
# "read_csv" is a pandas function to read csv files from web or local device:
df= pd.DataFrame()
fdf = pd.DataFrame()
df = pd.read_csv('https://raw.githubusercontent.com/PrasanthReddyYerradoddi/Machine-Learning/master/train.csv')

In [5]:
df.head()

   S1  C1  S2  C2  S3  C3  S4  C4  S5  C5  hand
0   4   9   2   1   2   2   4   7   2   8     0
1   1   4   3   6   1  12   3  11   2   7     0
2   1  11   4   1   3   7   4  11   2   1     2
3   2   9   2   4   3   6   1   9   4   9     3
4   1   8   2   4   2  11   2   2   2   1     0

In [6]:
cardsCols = ['C1','C2','C3','C4','C5']
suiteCols = ['S1','S2','S3','S4','S5']
X = df[cardsCols]
X.head()

   C1  C2  C3  C4  C5
0   9   1   2   7   8
1   4   6  12  11   7
2  11   1   7  11   1
3   9   4   6   9   9
4   8   4  11   2   1

In [7]:
y = df['hand']
y.head()

0    0
1    0
2    2
3    3
4    0
Name: hand, dtype: int64

In [8]:
for index,rows in df.iterrows():
    Cardscol = []
    #card = rows['C1'],rows['C2'],rows['C3'],rows['C4'],rows['C5']
    suit = rows['S1'],rows['S2'],rows['S3'],rows['S4'],rows['S5']
    #a = (sorted(card))
    b = (sorted(suit))
     
    if len(set(b)) == 1:
        fdf.set_value(index,'Number of same color cards',5)
    elif len(set(b)) == 2:
        fdf.set_value(index,'Number of same color cards',4)
    elif len(set(b)) == 3:
        fdf.set_value(index,'Number of same color cards',3)
    elif len(set(b)) == 4:
        fdf.set_value(index,'Number of same color cards',2)
    else:
        fdf.set_value(index,'Number of same color cards',0)

In [9]:
for index,rows in df.iterrows():
    Cardscol = []
    card = rows['C1'],rows['C2'],rows['C3'],rows['C4'],rows['C5']
    #suit = rows['S1'],rows['S2'],rows['S3'],rows['S4'],rows['S5']
    a = (sorted(card))
    #b = (sorted(suit))
    
    fdf.set_value(index,"Highest Card",max(a))

In [10]:
for index,rows in df.iterrows():
    Cardscol = []
    card = rows['C1'],rows['C2'],rows['C3'],rows['C4'],rows['C5']
    #suit = rows['S1'],rows['S2'],rows['S3'],rows['S4'],rows['S5']
    a = (sorted(card))
    #b = (sorted(suit))
     
    if len(set(a)) == 2:
        fdf.set_value(index,'Number of same cards',4)
    elif len(set(a)) == 3:
        fdf.set_value(index,'Number of same cards',3)
    elif len(set(a)) == 4:
        fdf.set_value(index,'Number of same cards',1)
    else:
        fdf.set_value(index,'Number of same cards',0)

In [11]:
for index,rows in df.iterrows():
    Cardscol = []
    card = rows['C1'],rows['C2'],rows['C3'],rows['C4'],rows['C5']
    #suit = rows['S1'],rows['S2'],rows['S3'],rows['S4'],rows['S5']
    a = (sorted(card))
    #b = (sorted(suit))
    
    counter=0
    if(a[1] == a[0]+1):
        counter = counter+1
    else:
        counter = 0
    if(a[2] == a[1]+1):
        counter = counter +1
    else:
        counter = 0    
    if(a[3] == a[2]+1):
        counter = counter+1
    else:
        counter = 0    
    if(a[4] == a[3]+1):
        counter = counter+1
    else:
        counter = 0
    
    fdf.set_value(index,"Number of cards in sequence",int(counter))

In [12]:
fdf['hand'] = df['hand']

In [13]:
fdf.head()

,Number of same color cards,Highest Card,Number of same cards,Number of cards in sequence,hand
0,4.0,9.0,0.0,2.0,0
1,3.0,12.0,0.0,1.0,0
2,2.0,11.0,3.0,0.0,2
3,2.0,9.0,3.0,0.0,3
4,4.0,11.0,0.0,0.0,0

In [14]:
#fdf

# KNN Classified for Prediction

In [15]:
feature_extract_col = ['Number of same color cards','Highest Card','Number of same cards','Number of cards in sequence']
X = fdf[feature_extract_col]
Y = fdf['hand']
print(X.shape)
print(Y.shape)

(25010, 4)
(25010L,)

In [16]:
# In the following line, "knn" is instantiated as an "object" of KNeighborsClassifier "class". 

k = 1
poker_train_knn = KNeighborsClassifier(n_neighbors=k)

In [17]:
# We use the method "fit" of the object along with training dataset and labels to train the model.

poker_train_knn.fit(X, Y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=1, p=2,
           weights='uniform')

In [26]:
# Randomly splitting the original dataset into training set and testing set
# The function"train_test_split" from "sklearn.cross_validation" library performs random splitting.
# "test_size=0.4" means that pick 40% of data samples for testing set, and the rest (70%) for training set.

from sklearn.cross_validation import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.4, random_state=1)

In [28]:
# Testing on the testing set:

y_predict = poker_train_knn.predict(X_test)

print(y_predict)

[1 0 0 ..., 0 0 1]

In [29]:
# We can now compare the "predicted labels" for the Testing Set with its "actual labels" to evaluate the accuracy 
# Function "accuracy_score" from "sklearn.metrics" will perform the element-to-element comparision and returns the 
# portion of correct predictions:

from sklearn.metrics import accuracy_score

score = accuracy_score(y_test, y_predict)

print(score)

0.97031187525